:root{
    --primary: #6047EC;
    --shadow: 0 25px 5px #6047ec9f;
    --secondary: #2619726c;
}

/* header section starts */
.customize-navbar-brand{
    
    font-family: 'Luxurious Roman', cursive;
    font-weight: 900;
}
/* 
.customize-carousel-item{
    height: 100vh;
    position: relative;
}

.customize-carousel-caption{
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(50%);
} */

/* .customize-carousel-item{
    opacity: 0.6;
} */

.customize-carousel-caption > h3{
    font-family: 'Mochiy Pop P One', sans-serif;
    color: whitesmoke;
}

.customize-carousel-caption > p{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color: var(--secondary);
    color: white;
    padding: 10px 5px;
}

.customize-carousel-caption > a{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    background: var(--primary);
    color: white;
}

.customize-carousel-caption > a:hover{
    background: white;
    color: var(--primary);
}


/* header section ends */

/* main section starts */

.customize-event-calendar-heading, .customize-book-section-heading{
    font-family: 'Poppins', sans-serif;
}

.customize-event-calendar-heading > h2,h3{
    
    font-weight: 900;
}

.customize-booking-section-heading > h1{
    font-family: 'Luxurious Roman', cursive;
    font-weight: 900;
}

.customize-event-calendar-para, .customize-booking-section-para{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.customize-event-calendar-button, .customize-booking-section-button{
    
    font-family: 'Poppins', sans-serif;
}

.customize-event-calendar-button > button{
    background: var(--primary);
    color: white;
    font-weight: 800;
    border: 1px solid var(--primary);
}

.customize-booking-section-button > button{
background: var(--primary);
    color: white;
    font-weight: 800;
    border: 1px solid var(--primary);
}

.customize-event-calendar-button > button:hover{
    background: white;
    color: var(--primary);
}

.customize-package-section{
    font-family: 'Poppins', sans-serif;
}
.customize-package-section > h1{
    font-family: 'Luxurious Roman', cursive;
    font-weight: 900;
}

.customize-location-section-heading, .customize-questions-section-heading{
    
    font-family: 'Luxurious Roman', cursive;
    font-weight: 900;
}

.customize-package-section-card-body > h3 {
    font-weight: 900;
}

.customize-package-section-card-body > h4{
    font-weight: 800;
}

.far{
    color: var(--primary);
}

.customize-package-section-third-card{
    position: relative;
    top: -10%;
    box-shadow: var(--shadow);
}

.far-color{
    color: white;
    background: var(--primary);
}

/* main section ends */


/* media query */
@media screen and (max-width: 576px) {
    .customize-carousel-caption > h3{
        font-size: 16px;
    }

    .customize-carousel-caption > p{
        font-size: 10px;
    }

    .customize-carousel-caption > a{
        font-size: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width:768px)  {
    .customize-carousel-caption > h3{
        font-size: 18px;
    }

    .customize-carousel-caption > p{
        font-size: 12px;
    }

    .customize-carousel-caption > a{
        font-size: 12px;
    }
}

 @media screen and (min-width:769px) and (max-width:992px){
    .customize-carousel-caption > h3{
        font-size: 20px;
    }

    .customize-carousel-caption > p{
        font-size: 14px;
    }

    .customize-carousel-caption > a{
        font-size: 14px;
    }
 }

 @media screen and (min-width:993px){
    .customize-carousel-caption > h3{
        font-size: 22px;
    }

    .customize-carousel-caption > p{
        font-size: 16px;
    }

    .customize-carousel-caption > a{
        font-size: 16px;
    }
 }
